### Python ###
# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
.Python
.env/

# Git
.gitconfig

# IDE
.vscode/
.idea/
.reviewboardrc

### Django ###
*.log
*.pid

bublik/data/migrations/*
!bublik/data/migrations
!bublik/data/migrations/__init__.py

logs/
secret.txt
flower.db

# Came from templates
bublik/general.conf
scripts/create_db
scripts/runflower
scripts/runcelery
scripts/run

# Precalculated data
cache/

# Coverage results
.coverage
htmlcov/

# Per-project configs
conf/

# Env
.env
.envrc

# Static files
bublik/representation/static
