[submodule "test-environment"]
	path = test-environment
	url = https://github.com/okt-limonikas/test-environment.git
[submodule "bublik-ui"]
	path = bublik-ui
	url = https://github.com/okt-limonikas/bublik-ui.git
[submodule "bublik-conf"]
	path = bublik-conf
	url = https://github.com/okt-limonikas/bublik-conf.git
[submodule "bublik-release"]
	path = bublik-release
	url = https://github.com/ts-factory/bublik-release.git
